server:
  port: 9010

spring:
  application:
    name: customer-service

  config:
    import: configserver:http://localhost:8888

#observability configurations
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,refresh